@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --background-color-hex: #c2bfbf;
  --border-color: #e5e7eb;
  --paper-background-color: 255, 255, 255;
  --paper-text-color: 0, 0, 0;
  --paper-bg-image: url(https://static.tumblr.com/maopbtg/nBUmgtogx/paper.png);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
    --background-color-hex: #11172a;
    --border-color: #374151;
    --paper-background-color: 0, 0, 0;
    --paper-text-color: 255, 255, 255;
    --paper-bg-image: url(https://static.tumblr.com/maopbtg/nBUmgtogx/paper.png);
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: --background-color-hex;


}

textarea {
  border: 1px solid var(--border-color);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}